alabaster==0.7.12; python_version >= "3.6"
attrs==20.3.0; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.4.0"
babel==2.9.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
certifi==2020.12.5; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6")
chardet==4.0.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
click==7.1.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
colorama==0.4.4; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_version >= "3.6" and python_full_version >= "3.5.0") and (python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.6" and python_full_version >= "3.5.0")
docutils==0.16; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
future==0.18.2; python_version >= "2.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
gitdb==4.0.5; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.4"
gitpython==3.1.12; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.4"
idna==2.10; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
imagesize==1.2.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
importlib-metadata==3.4.0; python_version >= "3.6"
jinja2==2.11.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
markdown-it-py==0.6.1; python_version >= "3.6" and python_version < "4.0"
markupsafe==1.1.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
mdit-py-plugins==0.2.4; python_version >= "3.6" and python_version < "4.0"
myst-parser==0.13.3; python_version >= "3.6"
orjson==3.4.7; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.6"
packaging==20.8; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pbr==5.5.1; python_version >= "2.6"
pygments==2.7.4; python_version >= "3.5"
pyparsing==2.4.7; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
python-dotenv==0.15.0
pytz==2020.5; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pyyaml==5.4.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
requests==2.25.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
sentry-sdk==0.19.5; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.5"
shellingham==1.3.2; python_version >= "3.6"
smmap==3.0.4; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.4"
snowballstemmer==2.1.0; python_version >= "3.6"
sphinx-autodoc-typehints==1.11.1; python_full_version >= "3.5.2"
sphinx-click==2.5.0
sphinx-rtd-theme==0.5.1
sphinx==3.4.3; python_version >= "3.5"
sphinxcontrib-apidoc==0.3.0
sphinxcontrib-applehelp==1.0.2; python_version >= "3.6"
sphinxcontrib-confluencebuilder==1.4.0
sphinxcontrib-devhelp==1.0.2; python_version >= "3.6"
sphinxcontrib-htmlhelp==1.0.3; python_version >= "3.6"
sphinxcontrib-jsmath==1.0.1; python_version >= "3.6"
sphinxcontrib-qthelp==1.0.3; python_version >= "3.6"
sphinxcontrib-serializinghtml==1.1.4; python_version >= "3.6"
structlog-sentry-logger==0.5.6; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
structlog-sentry==1.2.2; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.5"
structlog==20.2.0; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.6"
typer==0.3.2; python_version >= "3.6"
typing-extensions==3.7.4.3; python_version < "3.8" and python_version >= "3.6" and python_full_version >= "3.6.1" and python_full_version < "4.0.0"
urllib3==1.26.2; python_full_version >= "3.6.1" and python_version < "4" and python_full_version < "4.0.0" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version < "4" and python_version >= "3.6")
zipp==3.4.0; python_version >= "3.6"
